{% extends '@ShmUser/corner.html.twig' %}

{% block title %}Group {{ group.name }} edit{% endblock %}

{% block body %}
    <h1>Group edit</h1>

    <div class="btn-toolbar" role="group" aria-label="Edit actions">

        <div class="btn-group" role="group" aria-label="Save action">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>
        {{ form_end(edit_form) }}
        </div>

        <div class="btn-group" role="group" aria-label="Back action">
            <a href="{{ path('groups_index') }}">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                </button>
            </a>
        </div>

        <div class="btn-group" role="group" aria-label="Delete action">
        {{ form_start(delete_form) }}
            <button class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        {{ form_end(delete_form) }}
        </div>

    </div>
{% endblock %}
