{% extends '@ShmUser/corner.html.twig' %}

{% block title %}Groups list{% endblock %}

{% block body %}
    <h1>Groups list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Id
                    <a href="{{ path('groups_index', {"sort":"id", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-order"></span></a>
                    <a href="{{ path('groups_index', {"sort":"id", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                </th>
                <th>Name
                    <a href="{{ path('groups_index', {"sort":"name", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                    <a href="{{ path('groups_index', {"sort":"name", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                </th>
                <th>Roles
                    <a href="{{ path('groups_index', {"sort":"roles", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-order"></span></a>
                    <a href="{{ path('groups_index', {"sort":"roles", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td><a href="{{ path('groups_show', { 'id': group.id }) }}">{{ group.id }}</a></td>
                <td>{{ group.name }}</td>
                <td>{{ group.roles }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Group actions">
                        <a class="btn btn-default" href="{{ path('groups_show', { 'id': group.id }) }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        <a class="btn btn-default" href="{{ path('groups_edit', { 'id': group.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
