{# src/Shm/UserBundle/Resources/views/Page/groups.html.twig #}
{% extends 'ShmUserBundle::corner.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Id
                <a href="{{ path('ShmUserBundle_groups', {"sort":"id", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-order"></span></a>
                <a href="{{ path('ShmUserBundle_groups', {"sort":"id", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
            </th>
            <th>Name
                <a href="{{ path('ShmUserBundle_groups', {"sort":"name", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="{{ path('ShmUserBundle_groups', {"sort":"name", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>Rules
                <a href="{{ path('ShmUserBundle_groups', {"sort":"rules", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-order"></span></a>
                <a href="{{ path('ShmUserBundle_groups', {"sort":"rules", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>
                <a href="{{ path('ShmUserBundle_group_edit', {"id": group.id}) }}">{{ group.name }}</a>
            </td>
            <td>{{ group.rules }}</td>
        </tr>
        {% else %}
            <p>There are no groups</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
