{# src/Shm/UserBundle/Resources/views/Page/users.html.twig #}
{% extends 'ShmUserBundle::corner.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Id
                <a href="{{ path('ShmUserBundle_users', {"sort":"id", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-order"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"id", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
            </th>
            <th>Last Name
                <a href="{{ path('ShmUserBundle_users', {"sort":"last_name", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"last_name", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>First Name
                <a href="{{ path('ShmUserBundle_users', {"sort":"first_name", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"first_name", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>Email
                <a href="{{ path('ShmUserBundle_users', {"sort":"email", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"email", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>State
                <a href="{{ path('ShmUserBundle_users', {"sort":"state", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-order"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"state", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
            </th>
            <th>Create date
                <a href="{{ path('ShmUserBundle_users', {"sort":"date_create", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"date_create", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>Group
                <a href="{{ path('ShmUserBundle_users', {"sort":"group", "direction":"ASC"}) }}"><span class="glyphicon glyphicon-plusglyphicon glyphicon-sort-by-alphabet"></span></a>
                <a href="{{ path('ShmUserBundle_users', {"sort":"group", "direction":"DESC"}) }}"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="#">{{ user.lastname }}</a></td>
                <td>{{ user.firstname }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>
                    {% if user.state %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td><time datetime="{{ user.datecreate|date('c') }}">{{ user.datecreate|date('l, F j, Y') }}</time></td>
                <td>{{ user.group }}</td>
            </tr>
        {% else %}
            <p>There are no groups</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
