<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}View{% endblock %} - ShmUserManager</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- /Bootstrap CDN -->
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/base.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("ShmUserBundle_homepage") }}">SUM</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                {% block header %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('users_index') }}">View all Users</a></li>
                            <li><a href="#">Add new <span class="glyphicon glyphicon-plus"></span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('groups_index') }}">View all Groups</a></li>
                            <li><a href="{{ path('groups_new') }}">Add new <span class="glyphicon glyphicon-plus"></span></a></li>
                        </ul>
                    </li>
                {% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% block corner %}
                    <li><a href="#">Logout</a></li>
                {% endblock %}
                </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    {% block body %}
        <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/ru/docs/bootstrap/examples/navbar-static-top/../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div>
    {% endblock %}
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        {% block footer %}
        <p class="navbar-text text-center">Project on <a href="https://github.com/Shamann1101/UserManagement" target="_blank">GitHub</a></p>
        {% endblock %}
    </div>
</nav>

{% block javascripts %}
    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="//getbootstrap.com/examples/navbar-static-top/../../dist/js/bootstrap.min.js"></script>
    <!-- /Bootstrap CDN -->
{% endblock %}
</body>
</html>
